body {
  width: 100vw;
}
/* header */
.header {
  height: 70px;
  background-color: black;
}
.header_right {
  color: #ffffff;
  margin-left: 30px;
  font-size: 20px;
  line-height: 70px;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul {
  display: flex;
}
.header_left li {
  list-style: none;
  color: #ffffff;
  margin-right: 30px;
}

/* top */
#top {
  height: 750px;
  background-image: url(../img/eyecatch.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
}
#top .top_message {
  position: relative;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  top: 65%;
  left: 15%;
  width: 70%;
}

#top .news_title {
  background: #ffffff;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 0;
}
.title_1 {
  position: absolute;
  left: 3px;
  top: 3px;
}
.title_2 {
  margin-left: 13px;
}
.news {
  background: #000;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 60px;
}

/* mission */
#mission {
  padding: 200px 200px;
  background: #000;
  position: relative;
  margin-bottom: 150px;
}
.mission_title {
  font-size: 27px;
  color: #ffffff;
  padding-left: 150px;
  position: relative;
  z-index: 10;
}
#mission p {
  color: #ffffff;
  width: 64%;
  line-height: 1.5;
  font-size: 13.5px;
  font-weight: bold;
  padding: 30px 15px 0 150px;
  position: relative;
  z-index: 10;
}
.btn {
  position: relative;
  padding-left: 150px;
  z-index: 10;
}
.button {
  font-size: 15px;
  padding: 5px 30px;
  border: 1px solid #000;
}
#mission img {
  display: block;
  width: 38%;
  height: 80%;
  position: absolute;
  top: 170px;
  right: 70px;
}
/* service */
#service {
  height: 1550px;
  background: rgb(241, 241, 241);
  position: relative;
}
.service_title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}
#service .service_img1 {
  width: 50%;
  position: relative;
  left: 50%;
  top: 20px;
}
.service_message_1 {
  background: #fff;
  width: 30%;
  padding: 80px 60px;
  position: absolute;
  top: 250px;
  left: 370px;
}
.sub {
  padding: 20px 0;
  font-size: 13.5px;
}
.sub2 {
  line-height: 1.5;
  font-size: 13.5px;
}
.service_btn {
  text-align: right;
}
.service_button {
  font-size: 15px;
  padding: 5px 30px;
  border: 1px solid #000;
  background: #fff;
  margin-top: 20px;
}
.service_message_2 {
  background: #fff;
  width: 30%;
  padding: 80px 60px;
  position: absolute;
  bottom: 230px;
  right: 370px;
}
.service_img2 {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 200px;
}

/* company */
#company_wrap {
  height: 500px;
  position: relative;
}
.recruit_container {
  background-image: url(../img/recruit.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 48%;
  height: 260px;
  right: 0;
  top: 180px;
}
.recruit {
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  padding-top: 95px;
  padding-bottom: 15px;
}
.recruit_text {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.company_container {
  background-image: url(../img/company.jpeg);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 48%;
  height: 260px;
  left: 0;
  top: 180px;
}
.company {
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  top: 270px;
  left: 320px;
  padding-top: 95px;
  padding-bottom: 15px;
}
.company_text {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  top: 320px;
  left: 370px;
}

/* faq */
#faq_wrap {
  width: 75%;
  height: 140px;
  background-color: #000;
  margin: 0 auto;
  position: relative;
  margin-top: 130px;
  margin-bottom: 170px;
}
.faq_container h1 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  line-height: 140px;
  left: 40px;
}
.faq_container p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 140px;
}

/* contact */
#contact {
  height: 600px;
  margin: 0 auto;
  background-image: url(../img/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact_title {
  font-size: 37px;
  position: absolute;
  top: 30%;
  left: 45%;
  color: #fff;
}
.contact_1 {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  left: 46.5%;
  top: 38%;
}
.contact_2 {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 47%;
  left: 34%;
}
.contact_3 {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 58%;
  left: 18%;
}
.contact_btn {
  position: absolute;
  top: 66%;
  left: 45%;
}
.contact_button {
  padding: 5px 30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

/* footer */
#footer {
  height: 100px;
  background-color: #000;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_right {
  color: #ffffff;
  margin-left: 30px;
}
.footer_left ul {
  display: flex;
}
.footer_left li {
  list-style: none;
  color: #ffffff;
  margin-right: 30px;
  line-height: 70px;
}
small {
  color: #fff;
  display: block;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* humberger */
  #humberger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 20px;
    transition: 0.4s;
  }
  #humberger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: 0.8s;
  }
  #humberger span:nth-of-type(1) {
    top: 10px;
  }
  #humberger span:nth-of-type(2) {
    top: 20px;
  }
  #humberger span:nth-of-type(3) {
    top: 30px;
  }
  .header_left {
    display: none;
  }
  
  /* top */
  #top .top_message {
    position: static;
    text-align: center;
  }
  #top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  #top .news_title {
    width: 100%;
    height: 2vh;
  }
  .title_2 {
    width: 70%;
    padding-left: 3px;
    margin: 0;
  }
  .news {
    padding: 25px 15px;
  }
  
  /* mission */
  #mission {
    height: 50vh;
    padding: 40px 50px 70px;
    position: static;
    position: relative;
    margin-bottom: 30px;
  }
  .mission_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mission_title {
    padding: 0;
    line-height: 1.5;
    font-size: 32px;
  }

  #mission p {
    font-weight: 500;
    padding: 20px 0 0 0;
    width: 100%;
    line-height: 1.5;
    font-size: 17px;
  }
  .btn {
    padding: 0;
  }
  #mission img {
    object-fit: cover;
    width: 180px;
    height: 115px;
    top: 450px;
    right: 18px;
    z-index: 5;
  }
  .button {
    padding: 10px 35px;
    margin-top: 10px;
    position: relative;
    z-index: 999;
  }
  /* service */
  #service {
    position: static;
    height: 100%;
    padding-bottom: 50px;
  }
  .service_title {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
  }
  #service .service_img1 {
    position: static;
    width: 90%;
    margin-left: 18px;
    display: block;
  }
  .service_message_1 {
    position: relative;
    padding: 10px;
    margin-left: 18px;
    width: 85%;
    top: 0;
    left: 0;
    margin-bottom: 50px;
  }
  .service_img2 {
    position: static;
    width: 90%;
    margin-left: 18px;
    display: block;
  }
  .service_message_2 {
    position: relative;
    padding: 10px;
    margin-left: 18px;
    width: 85%;
    top: 0;
    left: 0;
  }
  /* company */
  #company_wrap {
    padding-top: 30px;
    height: 100%;
  }
  .company_container {
    position: static;
    width: 100%;
  }
  .recruit_container {
    position: static;
    width: 100%;
  }
  /* faq */
  #faq_wrap {
    width: 90%;
    margin: 30px 18px;
  }
  .faq_container h1 {
    font-size: 30px;
  }
  /* contact */
  #contact {
    height: 59vh;
  }
  .contact_title,
  .contact_1,
  .contact_2,
  .contact_3,
  .contact_btn {
    position: static;
    text-align: center;
  }
  .contact_title {
    padding: 30px 0 20px;
  }
  .contact_1 {
    padding-bottom: 30px;
    font-weight: bold;
  }
  .contact_2 {
    padding: 0 30px 30px;
    font-size: 40px;
  }
  .contact_3 {
    padding: 0 60px 30px;
    line-height: 1.5;
  }
  /*  footer */
  #footer {
    height: 10vh;
    padding-bottom: 3px;
  }
  .footer_right {
    margin: 0 auto;
    padding: 25px 0;
  }
  .footer_left {
    display: none;
  }
}


