 
/* header */
.header {
  height: 70px;
  background-color: black;
}
.header_right {
  color: #ffffff;
  margin-left: 30px;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul {
  display: flex;
}
.header_left li {
  list-style: none;
  color: #ffffff;
  margin-right: 30px;
  line-height: 70px;
}

/* top */
#top {
  height: 750px;
  background-image: url(../img/eyecatch.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
#top .top_message {
  position: absolute;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  top: 460px;
  left: 160px;
}

#top .news_title{
  background: #ffffff;
  width: 850px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 0;
}
.title_1 {
  position: absolute;
  left: 3px;
  top: 3px;
}
.title_2 {
 margin-left: 13px;
}
.news {
  background: #000;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 60px;
}

/* mission */
#mission {
  padding: 200px 200px;
  background: #000;
  position: relative;
  margin-bottom: 150px;
}
.mission_title {
  font-size: 27px;
  color: #ffffff;
  padding-left:150px ;
}
#mission p {
  color: #ffffff;
  width: 870px;
  line-height: 1.5;
  font-size: 14.5px;
  font-weight: bold;
  padding:30px 15px 0 150px;
  position: relative;
  z-index: 10;
}
.btn {
  padding-left: 150px;
}
.button {
  font-size: 15px;
  padding: 5px 30px;
  border: 1px solid #000;
}
#mission img {
  display: block;
  width: 650px;
  height: 450px;
  position: absolute;
  top: 170px;
  right: 70px;
}
#service {
  height: 1550px;
   background: rgb(241, 241, 241);
   position: relative;
}
.service_title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}
#service .service_img1{
  width: 50%;
  position: absolute;
  right: 0;
  top: 70px;
}
.service_message_1 {
  background: #fff;
  width: 30%;
  padding: 80px 60px;
  position: absolute;
  top: 180px;
  left: 370px;
} 
.sub {
  padding: 20px 0;
  font-size: 13.5px;
}
.sub2 {
  line-height: 1.5;
  font-size: 13.5px;
}
.service_btn {
  text-align: right;
}
.service_button {
  font-size: 15px;
  padding: 5px 30px;
  border: 1px solid #000;
  background: #fff;
  margin-top: 20px;
}
.service_message_2 {
  background: #fff;
  width: 30%;
  padding: 80px 60px;
  position: absolute;
  bottom: 230px;
  right: 370px;
}
.service_img2 {
   width: 50%;
  position: absolute;
  left: 0;
  bottom: 200px; 
}

/* company */

#company_wrap {
  position: relative;
  height: 500px;
  padding-bottom: 100px;
}
.recruit_container {
  width: 48%;
  height: 250px;
  position: absolute;
  right: 0 ;
  top: 180px;
}
.recruit_container img {
   width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
}
.recruit {
   position: absolute;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  top: 270px;
  right:320px;
}
.recruit_text {
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  top: 320px;
  right: 370px;
}
.company_container {
  width: 48%;
  height: 250px;
  position: absolute;
  left: 0 ;
  top: 180px;
}
.company_container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
}
.company {
  position: absolute;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  top: 270px;
  left:320px;
}
.company_text {
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  top: 320px;
  left: 370px;

#faq_wrap {
 width: 1300px;
 height: 165px;
 background-color: #000;
 margin: 0 auto;
 position: relative;
 margin-bottom: 180px;
}
.faq_container h1{
  color: #fff;
  font-size: 40px;
  position: absolute;
  line-height: 165px;
  left: 40px;
}
.faq_container p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 165px;
}
/* contact */
#contact {
  height: 600px;
  margin:0 auto;
  background-image: url(../img/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact_title {
  font-size: 37px;
  position: absolute;
  top: 160px;
  left: 760px;
  color: #fff;
}
.contact_1 {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  left: 790px;
  top: 210px;
  
}
.contact_2 {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 260px;
  left: 580px;
}
.contact_3 {
  color: #fff;
  font-size: 14px;
  
  position: absolute;
  top: 340px;
  left: 300px;
}
.contact_btn {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 400px;
  left: 760px;
}
.contact_button {
  padding: 5px 30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer {
  height: 100px;
  background-color: #000;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_right {
   color: #ffffff;
  margin-left: 30px;
}
.footer_left ul {
  display: flex;
}
.footer_left li {
  list-style: none;
  color: #ffffff;
  margin-right: 30px;
  line-height: 70px;
}
small {
  color: #fff;
  display: block;
  text-align: center;
}
